{% extends 'base.html.twig' %}

{% block title 'Agence' %}

{% block body %}
    <div class="jumbotron text-center">
       <div class="container">
           <h1>Bienvenue dans notre Agence</h1>
           <p> L'Agence qui est à votre service et qui comprend vos besoins</p>
       </div>
    </div>

{% endblock %}